</div>
</div>
<footer class="footer">
   <hr class="hr0"/>
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <ul class="list-inline text-center">
         <!-- temp redirect -->
         <li><a href="https://www.bristol.ac.uk/"><img src="/images/photos.png" /></a></li>
         <li><a href="https://www.bristol.ac.uk/"><img src="/images/facebook.png" /></a></li>
         <li><a href="https://www.bristol.ac.uk/"><img src="/images/twitter.png" /></a></li>
         <li><a href="https://www.bristol.ac.uk/"><img src="/images/github.png" /></a></li>
      </ul>
      <p>&copy; 2016  Bristol ❖ Computer Science</p>
   </div>
</footer>
</body>
</html>
